.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card {
  width: 14rem;
  border-radius: 14px;
}
.container-jumbotron {
  width: 100%;
  height: 60vh;
  margin-bottom: 2rem;
  background-color: black;
}
.navbar {
  height: 15vh;
}
.nav-element {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 3rem;
  font-size: 16px;
  font-weight: 500;
}
.album {
  background: #eaf0f6;
  padding: 1rem 2rem 8rem 2rem;
}
.container-accordian {
  max-width: 60vw;
  margin: 5rem auto;
}
.accordian-box {
  width: 100%;
  height: 10vh;
  background: #11b98f;
  border-radius: 5px;
}
.Heading-secondary {
  margin: 5rem 0 5rem 0;
}
.accordian-item {
  padding: 1.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}
.accordian-text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: #fff;
  margin-left: auto;
}
.accordian-box-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
